@font-face {
  font-family: 'Monbloc Heavy';
  src: url('/fonts/Monbloc-Heavy.woff2') format('woff2'),
       url('/fonts/Monbloc-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
